.table {
    margin-left: 20px;
    margin-right: auto;
    width: 90%;
    display: table-cell;
    padding: 12px;
    text-align: left;
    text-indent: initial;
}

tr {
    display: table-row;
    vertical-align: inherit;
}